html {
    height: 100%;
    background: linear-gradient(180deg, #d9ebf3 0%, #98b8f1 40%, #0f4a6d 90%);
}

body {
    margin: 30px;
    padding: 20px;
}

h1 {
    width: 15%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #0f4a6d;
}

nav {
    width: 15%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background: rgba(108, 67, 185, 0.151);
    border-radius: 10px;
}

nav a {
    color: #0f4a6d;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    transition: all 0.1s linear;
}

nav a:hover {
    color: #ffffff;
    background-color: #0f4a6d;
    border-radius: 7px;
    text-decoration: underline;
}

main {
    margin: 30px;
    padding: 20px;
    background: rgba(35, 0, 100, 0.048);
    border-radius: 20px;
}

.main-text {
    color: #0f4a6d;
    margin: 30px 100px;
    text-align: center;
}

.images-container {
    margin: 20px;
    text-align: center;
}

.images-container img {
    width: 500px;
    height: auto;
    margin: 0 30px;
    transition: all 0.1s linear;
}

.images-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

button {
    display: block;
    color: #0f4a6d;
    background: rgba(179, 168, 226, 0.801);
    border-color: #0f4a6d;
    margin: 30px auto;
    border-width: 1px;
    border-radius: 7px;
    transition: all 0.1s linear;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.main-footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
}